/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $lightblue;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: $fivepx;
    .btn:hover {
      transition-property: color;
      transition-duration: .4s;
      transition-delay: .2s;
      color: lighten($lightblue, 15%);
    }
  } 
  
  .default {
    background-color: $lightblue;
  }
  
  .error {
    background-color: #e4757a;
  }
  
  .info {
    background-color:$purple;
  }
  
  .success {
    background-color: #63cc82;
  }
  
  .warning {
    background-color: $orange;
  }
  
