// Color Variables

$grey: #777;
$lightblue: #51ddfc;
$aquagreen: #58e1c1;
$purple: #927bc1;
$orange: #fd7856;

// Value Variables

$three: 300;
$fivepx: 5px;

// Media Query Breakpoints

$brk-narrow: 768px;